<div class="container">



  <br>
  <div class="row" id="addNews">
    <div class="col-md-2"></div>
    <div class="col-md-8 border shadow rounded p-3">
      <br>
      <h2>Add news</h2>
      <h2>Update news</h2>
      <br>

      <form action="">
        <div class="form-group row">
          <label for="title" class="col-md-2 col-form-label">Title for news</label>
          <div class="col-md-6">
            <input type="text" id="title" placeholder="News title" class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <label for="content" class="col-md-2 ol-form-label">Content of news</label>
          <div class="col-md-6">
            <textarea name="" id="content" cols="6" class="form-control" rows="3" placeholder="News title"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label for="author" class="col-md-2 col-form-label">Author of news</label>
          <div class="col-md-6">
            <input type="text" id="author" placeholder="News title" class="form-control">
          </div>
        </div>

        <button type="submit" class="btn btn-outline-warning">Update</button>
      </form>

    </div>
    <div class="col-md-2"></div>
  </div>


</div>
