<!-- HTML block -->
<div class="container border p-4 shadow">
  <h2>Users list</h2>
  <table class='table table-hover table-striped'>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr id="user_list" *ngFor="let user of users">
      <td (click)="edit(user)"><p>{{user.id}}</p></td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.age}}</td>
      <td>
        <div class="btn-group">
          <button class='btn btn-sm btn-warning' (click)="edit(user)"> Edit </button>
        <button (click)="delete(user)" class='btn btn-sm btn-danger'>Delete</button>
      </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<br>

<!-- ADD USERS -->
<div class="container border p-4 shadow">
  <h2>Add users</h2>
<app-form [user] = "user"></app-form>
<!--
  <form action="">
    <p>
      <label for="username">Username</label>
      <input [(ngModel)]='user.username' name='username' id='username' type="text" class='form-control' placeholder='Username'>
    </p>
    <p>
      <label for="email">Email</label>
      <input [(ngModel)]='user.email' name='email' type="text" id='email' class='form-control' placeholder='Email'>
    </p>
    <p>
      <label for="username">Age</label>
      <input [(ngModel)]='user.age' name='age' type="number" id='age' class='form-control' placeholder='Age'>
    </p>
    <br>
    <p>
      <button (click)="add()" class='btn btn-primary' type='button' *ngIf="user.id==0">Add user</button>
      <button (click)="save()" class='btn btn-outline-warning' *ngIf="user.id!=0">Save</button>
    </p>
  </form>
-->

</div>
<br>

<!-- SEARCH USERS -->
<div class="container border p-4 shadow">
  <h2>Search users</h2>
  <form action="">
    <label for="search">Search by email</label>
    <input [(ngModel)]='searchInput' name='searchInput' id='search' type="text" class='form-control' placeholder="email" />
    <br>
    <p>
      <button (click)='search(searchInput)' class='btn btn-primary' type='button'>Search</button>
      <button (click)='clear()' class='btn btn-secondary' type='button'>Clean</button>
    </p>
  </form>
</div>
