<!-- HTML block -->
<div class="container border p-4 shadow">
  <h2>Users list</h2>
  <table class='table table-hover table-striped'>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr id="user_list" *ngFor="let user of users">
      <td (click)="edit(user)"><p>{{user.id}}</p></td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.age}}</td>
      <td>
        <div class="btn-group">
        <button (click)="delete(user)" class='btn btn-sm btn-warning'>Delete</button>
        <button class='btn btn-sm btn-danger' (click)="edit(user)">  Edit </button>
      </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<br>

<!-- ADD USERS -->
<div class="container border p-4 shadow">
  <h2>Add users</h2>
  <app-form [user] = "user"></app-form>

</div>
<br>

<!-- SEARCH USERS -->
<div class="container border p-4 shadow">
  <h2>Search users</h2>
  <form action="">
    <label for="search">Search by email</label>
    <input [(ngModel)]='searchInput' name='searchInput' id='search' type="text" class='form-control' placeholder="email" />
    <br>
    <p>
      <button (click)='search(searchInput)' class='btn btn-primary' type='button'>Search</button>
      <button (click)='clear()' class='btn btn-secondary' type='button'>Clean</button>
    </p>
  </form>
</div>
