 <form action="">
    <p>
    <label for="username">Username</label>
    <input [(ngModel)]='user.username' name='username' id='username' type="text" class='form-control' placeholder='Username'>
    </p>
    <p>
    <label for="email">Email</label>
    <input [(ngModel)]='user.email' name='email' type="text" id='email' class='form-control' placeholder='Email'>
    </p>
    <p>
    <label for="username">Age</label>
    <input [(ngModel)]='user.age' name='age' type="text" id='age' class='form-control' placeholder='Age'>
    </p>
    <br>
    <p>
      <button (click)="add()" class='btn btn-primary' type='button' *ngIf="user.id==0">Add user</button>
      <button (click)="save()" class='btn btn-outline-warning' *ngIf="user.id!=0">Save</button>
    </p>
  </form>
