<div class="container border shadow rounded" style="width: 500px;">
  <form action="">
    <div class="form-group">

      <label for="title" class="col-form-label col-md-4">Title:</label>
      <div class="col-md-12">
      <input type="text" id="title" placeholder="Title text" class="form-control" value="{{news?.title}}">
      </div>
      <label for="content" class="col-form-label col-md-4">Content:</label>
      <div class="col-md-12">
        <textarea id='content' name="" cols="5" rows="5" placeholder="Content text" class="form-control">{{news?.content}}</textarea>
      </div>
      <label for="author" class="col-form-label col-md-4">Author:</label>
      <div class="col-md-12">
        <input type="text" id="author" placeholder="Author name" class="form-control" value="{{news?.author}}">
      </div>
    </div>
    <br>

    <p>
      <button class="btn btn-success" *ngIf="this.create">Create</button>
      <button class="btn btn-warning" *ngIf="this.edit">Save</button>
    </p>
  </form>
</div>
